[user]
	name = Michal Tehnik
	email = michal.tehnik@mictech.cz
[core]
	excludesfile = ~/DropBox/Config/dotfiles/.gitignore_global
	editor = atom --wait
[color]
	ui = true
[push]
	default = current
[branch]
	autosetuprebase = always
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	keepBackup = false
	tool = p4merge
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$LOCAL\""  "\"$PWD/$REMOTE\"" "\"$PWD/$MERGED\"" 
	keepTemporaries = false
        trustExitCode = false
        keepBackup = false
[diff]
	tool = p4merge
[difftool]
	prompt = false
[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$LOCAL\"" "\"$REMOTE\""
[alias]
	atl = !git add . && git commit --amend --no-edit
